body{
    background-color: aliceblue;
    background-position: center;
    font-family: Tahoma;
    color: black;
    width: 65%;
    margin: auto;
}
.txt{

    line-height: 0.8;
    margin: 100px 0 0 0;
    font-size: 30px;
    text-align: center;
}

.text{
    text-align: left;

    font-size: 24px;
    line-height: 1;
    padding: 1% 2% 1% 2%;

}

.text1{
    text-align: center;
    line-height: 2;
    font-size: 30px;


}

.img2{
    width: 60%;
    display: block;
    margin: 0 auto;

}

.img1{

    width: 100%;
    background-size: cover;


}
.line{
 color: red;
    backgroundcolor: red;
    height: 10px;

}
.img3 {
    width: 75%;
    border-radius: 10px 40px 10px 40px;
    margin: 0% 0% 0% 3%;
}
.img4 {
    width: 75%;
    border-radius: 10px 70px 10px 70px;
    margin: 2% 0% 0% 25%;
    border-radius: 10px 70px 10px 70px;
}
.text2{
    font-size: 34px;
    text-align: center;
    line-height: 1;
    margin: 20px 0 0 0;

}
.text3{
    font-size: 30px;
    text-align: left;
    line-height: 2;
    margin: 25px 0 0 0;
}